/* FONTS */

/* GREENWICH */
@font-face {
    font-family: 'Greenwich Med';
    font-weight: 500;
    font-style: normal;
    src: local('Greenwich-Medium'), url('Greenwich-Medium.woff') format('woff');   
}
@font-face {
    font-family: 'Greenwich';
    font-weight: normal;
    font-style: normal;
    src: local('Greenwich-Regular'), url('Greenwich-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Greenwich';
    font-weight: bold;
    font-style: normal;
    src: local('Greenwich-Bold'), url('Greenwich-Bold.woff') format('woff');
}

/* GEOMETRIA */

@font-face {
	font-family: 'Geometria';
	font-weight: 500;
	font-style: normal;
	src: local('Geometria Medium'), url('Geometria-Medium.woff') format('woff');	
}
@font-face {
	font-family: 'Geometria';
	font-weight: 500;
	font-style: italic;
	src: local('Geometria MediumItalic'), url('Geometria-MediumItalic.woff') format('woff');
}

@font-face {
	font-family: 'Geometria';
	font-weight: normal;
	font-style: normal;
	src: local('Geometria'), url('Geometria.woff') format('woff');
}

/* MONTSTERRAT */

@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	font-style: normal;
	src: local('Montserrat'), url('Montserrat-SemiBold.woff') format('woff');
}